@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

 

body h2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 30px;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
  color: black;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff03ff;
  color: white;
}
.question{
  color: black;
  font-size: 14px;
}
.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.finish button {
  text-align: center;
}